body {
    font-family: 'PT Sans', sans-serif;
}

/* Page heading */
h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    font-size: 2.2em;
}

section {
    margin: 0 5%;
    text-align: center;
}

div.person {
    width: 100%; /* change with media query below */
    display: inline-block;
    margin-bottom: 60px;
}

div.person div.intro {
    text-transform: uppercase;
}

div.person div.intro h2 {
    border-bottom: 1px solid green;
    display: inline-block;
    margin-bottom: 0;
}

div.person div.intro p {
    color: #ccc;
}

div.person img {
    width: 240px;
}

div.person div.location p {
    margin: 8px 0;
    text-transform: capitalize;
}

/* Props to CSS Tricks: https://css-tricks.com/fun-with-blurred-text/ */
div.person p.ssn {
    color: transparent; 
    text-shadow: 0 0 6px rgba(0,100,0,0.5);
}

div.person p.ssn:hover {
    color: inherit; /* Use our parent's text color */
    text-shadow: none;
}

/* For funsies, go from single column to multiple columns as the screen grows */
@media (min-width: 600px) {
    div.person {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    div.person {
        width: 25%;
    }
}